sqlalchemy
owslib
Cython
deprecated
matplotlib>=3.5.0
numpy<1.21,>=1.17
scipy >= 1.4.1
obspy
pandas
PyQt5
PyQtWebEngine
mtspec
nitime
Cartopy==0.19.post1
pillow
PyWavelets
dill
nvector
numba
Tensorflow>=2.3.0
