PyQt5==5.15.0
PyQtWebEngine==5.15.0
cython
deprecated
dill
future
geographiclib==1.52
llvmlite
matplotlib==3.3.0
nitime
numba
numpy==1.20.3
obspy
obspyh5==0.5.0
owslib
pandas
pillow
pyqt5-tools==5.15.0.1.7
pyqtchart==5.15.0
pywavelets
pywavelets
scipy
sqlalchemy
tornado
nvector
pyclean
